/* Dropdown Button */
#myDropdown {
    overflow-y: scroll;
    max-height: 300px;
}

.form-control {
    width: 35%
}

.btn-secondary {
    color: #fff;
    background-color: black;
    border-color: #6c757d;
}

canvas {
    background-color: rgba(47, 152, 208, 0.1);
 }

 #comments-container {
    margin-left: 50px;
 }

 .blue-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
 }

 #container {
    display: inline-block;
    width: 100%;
}
#comments-container {
    display: inline-block;
    width: 300px
}
.list-group>li:nth-child(odd){
    background:rgb(182, 206, 238);
    }

#header {
  padding: 10px;
  text-align: center;
  background: #091841;
  color: white;
  font-size: 30px;
  height: 80px;
  line-height: 80px;
}

#dropdownMenuButton {
    width: 150px;
    text-align: center;
    margin: 30px;
    right: 0px;
  }

  .dropdown {
      text-align: center;
  }

  #myChart{
    width: 100%;
    height: 700px;
  }

  #line-chart{
      width: 100%;
  }

  .chartcon {
      width: 100%;
      max-width: 1000px;
      padding: 20px;
      margin: 0 auto;
  }

  #theCon {
      width: 70%;
      display: inline-block;
  }

  #allcomments {
      width: 29%;
      float: right;
  }

  .form-control {
      width: 100%
  }

  #comment-id {
      margin: 0 40px 0 0;
  }

  .blue-button {
    float: right;
  }