/* Dropdown Button */
#myDropdown {
    overflow-y: scroll;
    max-height: 300px;
}

div.card {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }