/* Dropdown Button */
#myDropdown {
    overflow-y: scroll;
    max-height: 300px;
}

.form-control {
    width: 35%
}

.btn-secondary {
    color: #fff;
    background-color: black;
    border-color: #6c757d;
}

canvas {
    background-color: rgba(47, 152, 208, 0.1);
 }

 #comments-container {
    margin-left: 50px;
 }

 .blue-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
 }

 #container {
    display: inline-block;
}
#comments-container {
    display: inline-block;
}

.header {
  padding: 60px;
  text-align: center;
  background: #091841;
  color: white;
  font-size: 30px;
  height: 116px;
line-height: 116px;
}

