/* Dropdown Button */
#myDropdown {
    overflow-y: scroll;
    max-height: 300px;
}

div.card {
    background-color: beige;
    height: 150px;
    width: 450px;
    /* box-shadow: 10px 10px grey; */
    padding: 10px;
    border-radius: 10px;
  }

  p {
    font-size: .8em;
    color: black;
    font-family: Helvetica;
  }

  /* li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  } */